In [1]:
import pandas as pd

In [5]:
df= pd.read_csv('data1.csv',encoding='latin1')

In [6]:
df.columns

Index(['description', 'industry', 'level', 'size', 'line_code', 'value'], dtype='object')

In [8]:
df.ndim

2

In [10]:
len(df) # return number of rows

14758

In [26]:
df.head(10)

,description,industry,level,size,line_code,value
0,Business main customer: individuals or households,total,0,619 employees,C0300.01,15639
1,Business main customer: individuals or households,total,0,2049 employees,C0300.01,2943
2,Business main customer: individuals or households,total,0,5099 employees,C0300.01,639
3,Business main customer: individuals or households,total,0,100+ employees,C0300.01,555
4,Business main customer: individuals or households,"Agriculture, forestry, & fishing",1,total,C0300.01,348
5,Business main customer: individuals or households,Agriculture,2,total,C0300.01,177
6,Business main customer: individuals or households,Commercial fishing,2,total,C0300.01,3
7,Business main customer: individuals or households,Forestry & logging,2,total,C0300.01,12
8,Business main customer: individuals or households,"Agriculture, forestry, & fishing support services",2,total,C0300.01,159
9,Business main customer: individuals or households,Mining,1,total,C0300.01,12

In [17]:
#printing nth row
n = 3
df.iloc[3] # 3rd row

description    Business main customer: individuals or households
industry                                                   total
level                                                          0
size                                              100+ employees
line_code                                               C0300.01
value                                                        555
Name: 3, dtype: object

In [19]:
# another example but using loc
df.loc[3]

description    Business main customer: individuals or households
industry                                                   total
level                                                          0
size                                              100+ employees
line_code                                               C0300.01
value                                                        555
Name: 3, dtype: object

In [32]:
# loc -- label based indexing , iloc -- index based indexing 
df.loc[0:2]['value']

0    15639
1     2943
2      639
Name: value, dtype: int64

In [33]:
df.loc[0:2]['value']

0    15639
1     2943
2      639
Name: value, dtype: int64

In [37]:
df['value'].describe()

count    14758.000000
mean       669.343746
std       2443.437067
min          0.000000
25%         18.000000
50%         90.000000
75%        377.250000
max      44877.000000
Name: value, dtype: float64

In [39]:
type(df.value)

pandas.core.series.Series

In [38]:
## accessing all these property one by one 
df.value.count()

np.int64(14758)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14758 entries, 0 to 14757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  14758 non-null  object
 1   industry     14758 non-null  object
 2   level        14758 non-null  int64
 3   size         14758 non-null  object
 4   line_code    14758 non-null  object
 5   value        14758 non-null  int64
dtypes: int64(2), object(4)
memory usage: 691.9+ KB

In [41]:
type(df['value'])==type(df.value) ## both returns series

True

In [42]:
df.value

0        15639
1         2943
2          639
3          555
4          348
         ...
14753        3
14754       36
14755        0
14756        0
14757      174
Name: value, Length: 14758, dtype: int64

In [56]:
df['value'].to_list()[:10] # first 10 values

[15639, 2943, 639, 555, 348, 177, 3, 12, 159, 12]

In [57]:
# checking if any column in dataframe has null valued

In [61]:
df.isnull().head(2) # checks all the values for null

   description  industry  level   size  line_code  value
0        False     False  False  False      False  False
1        False     False  False  False      False  False

In [63]:
df.isnull().any() # checks for all the columns regarding null values

description    False
industry       False
level          False
size           False
line_code      False
value          False
dtype: bool

In [64]:
df.isnull().any().any()

np.False_

In [66]:
df.isna().any()

description    False
industry       False
level          False
size           False
line_code      False
value          False
dtype: bool