In [1]:
import pandas as pd

In [5]:
df= pd.read_csv('data1.csv',encoding='latin1')

In [6]:
df.columns

Index(['description', 'industry', 'level', 'size', 'line_code', 'value'], dtype='object')

In [8]:
df.ndim

2

In [10]:
len(df) # return number of rows

14758

In [26]:
df.head(10)

,description,industry,level,size,line_code,value
0,Business main customer: individuals or households,total,0,619 employees,C0300.01,15639
1,Business main customer: individuals or households,total,0,2049 employees,C0300.01,2943
2,Business main customer: individuals or households,total,0,5099 employees,C0300.01,639
3,Business main customer: individuals or households,total,0,100+ employees,C0300.01,555
4,Business main customer: individuals or households,"Agriculture, forestry, & fishing",1,total,C0300.01,348
5,Business main customer: individuals or households,Agriculture,2,total,C0300.01,177
6,Business main customer: individuals or households,Commercial fishing,2,total,C0300.01,3
7,Business main customer: individuals or households,Forestry & logging,2,total,C0300.01,12
8,Business main customer: individuals or households,"Agriculture, forestry, & fishing support services",2,total,C0300.01,159
9,Business main customer: individuals or households,Mining,1,total,C0300.01,12

In [17]:
#printing nth row
n = 3
df.iloc[3] # 3rd row

description    Business main customer: individuals or households
industry                                                   total
level                                                          0
size                                              100+ employees
line_code                                               C0300.01
value                                                        555
Name: 3, dtype: object

In [19]:
# another example but using loc
df.loc[3]

description    Business main customer: individuals or households
industry                                                   total
level                                                          0
size                                              100+ employees
line_code                                               C0300.01
value                                                        555
Name: 3, dtype: object

In [32]:
# loc -- label based indexing , iloc -- index based indexing 
df.loc[0:2]['value']

0    15639
1     2943
2      639
Name: value, dtype: int64

In [33]:
df.loc[0:2]['value']

0    15639
1     2943
2      639
Name: value, dtype: int64

In [37]:
df['value'].describe()

count    14758.000000
mean       669.343746
std       2443.437067
min          0.000000
25%         18.000000
50%         90.000000
75%        377.250000
max      44877.000000
Name: value, dtype: float64

In [39]:
type(df.value)

pandas.core.series.Series

In [38]:
## accessing all these property one by one 
df.value.count()

np.int64(14758)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14758 entries, 0 to 14757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  14758 non-null  object
 1   industry     14758 non-null  object
 2   level        14758 non-null  int64
 3   size         14758 non-null  object
 4   line_code    14758 non-null  object
 5   value        14758 non-null  int64
dtypes: int64(2), object(4)
memory usage: 691.9+ KB

In [41]:
type(df['value'])==type(df.value) ## both returns series

True

In [42]:
df.value

0        15639
1         2943
2          639
3          555
4          348
         ...
14753        3
14754       36
14755        0
14756        0
14757      174
Name: value, Length: 14758, dtype: int64

In [56]:
df['value'].to_list()[:10] # first 10 values

[15639, 2943, 639, 555, 348, 177, 3, 12, 159, 12]

In [57]:
# checking if any column in dataframe has null valued

In [61]:
df.isnull().head(2) # checks all the values for null

   description  industry  level   size  line_code  value
0        False     False  False  False      False  False
1        False     False  False  False      False  False

In [63]:
df.isnull().any() # checks for all the columns regarding null values

description    False
industry       False
level          False
size           False
line_code      False
value          False
dtype: bool

In [64]:
df.isnull().any().any()

np.False_

In [66]:
df.isna().any()

description    False
industry       False
level          False
size           False
line_code      False
value          False
dtype: bool

In [67]:
df.value.count()

np.int64(14758)

In [68]:
df.value.max()

np.int64(44877)

In [69]:
df.value.min()

np.int64(0)

In [70]:
df.value.std()

np.float64(2443.437067104401)

In [71]:
df.value.mean()

np.float64(669.3437457650089)

In [72]:
df.value.mode()

0    0
Name: value, dtype: int64

In [73]:
df.value.median()

np.float64(90.0)

In [75]:
df.description.nunique() # returns count of unique values

314

In [80]:
df.description.unique()[:5] # first 5 unique values

array(['Business main customer: individuals or households',
       'Business main customer: businesses within same group',
       'Business main customer: retailers or wholesalers outside business group',
       'Business main customer: other businesses outside business group',
       'Business main customer: government'], dtype=object)

In [153]:
df.groupby('description').count() # returns count for all the columns
df.groupby('description')['description'].nunique() # gives count for only the description column

description
Are answers applicable to pricing processes used for business's other products: no                        1
Are answers applicable to pricing processes used for business's other products: only sells one product    1
Are answers applicable to pricing processes used for business's other products: yes                       1
Business main customer: businesses within same group                                                      1
Business main customer: government                                                                        1
                                                                                                         ..
When does business typically review price: regular intervals and in response to specific events           1
When does business typically review price: regular intervals, regardless of specific events               1
Who reviews and sets price: parent business                                                               1
Who reviews and sets price: this business                                                                 1
Who reviews and sets the price: other                                                                     1
Name: description, Length: 314, dtype: int64

In [93]:
# adding a new null column -- static value column
df['transport'] = ['kalley' for i in range(len(df))]

In [94]:
type(df.transport)

pandas.core.series.Series

In [95]:
df.transport

0        kalley
1        kalley
2        kalley
3        kalley
4        kalley
          ...
14753    kalley
14754    kalley
14755    kalley
14756    kalley
14757    kalley
Name: transport, Length: 14758, dtype: object

In [114]:
# adding static value to a column
df['value+2'] = df.value+2

In [115]:
df[['value','value+2']].head()

   value  value+2
0  15639    15641
1   2943     2945
2    639      641
3    555      557
4    348      350

In [116]:
df.loc[:,['value','value+2']].head()

   value  value+2
0  15639    15641
1   2943     2945
2    639      641
3    555      557
4    348      350

In [117]:
# adding one column to another of same type 
df['value']+df['value+2']

0        31280
1         5888
2         1280
3         1112
4          698
         ...
14753        8
14754       74
14755        2
14756        2
14757      350
Length: 14758, dtype: int64

In [121]:
# performing other match ops +,-,*,/,//
df['value']/df['value+2']

0        0.999872
1        0.999321
2        0.996880
3        0.996409
4        0.994286
           ...
14753    0.600000
14754    0.947368
14755    0.000000
14756    0.000000
14757    0.988636
Length: 14758, dtype: float64

In [130]:
# i want every element of this list to be of 10 characters max
[i[:10] for i in df.loc[:,'description'].to_list()][:5]

['Business m', 'Business m', 'Business m', 'Business m', 'Business m']

In [138]:
# can i zip two columns of a dataframe
df2 = pd.DataFrame(zip(df.value,df.line_code))

In [141]:
df2.columns = ['value','line_code']

In [143]:
df2.head()

   value line_code
0  15639  C0300.01
1   2943  C0300.01
2    639  C0300.01
3    555  C0300.01
4    348  C0300.01

In [148]:
df['size'].head()

0     619 employees
1    2049 employees
2    5099 employees
3     100+ employees
4              total
Name: size, dtype: object

In [169]:
# size columns will consist of numbers and strings i have to get the rows in which i am having some numbers
df[df['size'].str.contains(r'\d+',na=False)].iloc[:,:6]
df[df['size'].str.contains('employee',na=False)].iloc[:,:6]

,description,industry,level,size,line_code,value
0,Business main customer: individuals or households,total,0,619 employees,C0300.01,15639
1,Business main customer: individuals or households,total,0,2049 employees,C0300.01,2943
2,Business main customer: individuals or households,total,0,5099 employees,C0300.01,639
3,Business main customer: individuals or households,total,0,100+ employees,C0300.01,555
47,Business main customer: businesses within same...,total,0,619 employees,C0300.02,2970
...,...,...,...,...,...,...
14667,How union representation of employees has affe...,total,0,100+ employees,C3307.03,66
14711,How union representation of employees has affe...,total,0,619 employees,C3307.04,84
14712,How union representation of employees has affe...,total,0,2049 employees,C3307.04,18
14713,How union representation of employees has affe...,total,0,5099 employees,C3307.04,27
14714,How union representation of employees has affe...,total,0,100+ employees,C3307.04,42

In [173]:
# renaming a column

In [174]:
# dropping a column

In [175]:
# dropping multiple columns